/*                                                                            */
/*                            section ///[benefits]                           */
/*                                                                            */
.benefits
  padding: 4.3rem 0 5rem 0
  min-height: 29.3rem
  background-color: #f6f6f6

.benefits__h2
  font-size: 30px
  line-height: 1.2
  font-weight: 700
  color: $blackTxt
  text-align: center

.benefits-wrapper
  padding-top: 4rem
  display: flex
  justify-content: center
  gap: 5.6rem

.benefits__item
  text-align: center
  min-width: 30%

.benefits__img
  margin-bottom: 2.3rem

.benefits__txt--top
  font-size: 18px
  font-weight: 700
  color: $blackTxt

.benefits__txt
  padding: 1.6rem .5rem
  font-size: 14px
  line-height: 1.2
  font-weight: 300
  color: $blackTxt

.benefits__running
  font-weight: 300
  font-size: 14px
  text-decoration-line: underline
  color: $redBg

/*                                                                            */
/*                          section ///[consultation]                         */
/*                                                                            */
.consultation
  padding: 6.25rem 5.6rem
  background: center (center/cover) no-repeat url("../img/consultation_bg.jpg")
  min-height: 680px
  &__heading
    font-size: 36px
    line-height: 1.2
    font-weight: 700
    text-transform: uppercase
    color: $whiteTxt
  &__txt
    font-size: 20px
    line-height: 1.2
    font-weight: 500
    color: $whiteTxt
    margin-top: 5rem
  &__form
    padding-top: 2.25rem
    display: flex
    flex-direction: column
    gap: 1rem
    width: 300px
  &__email
    margin-bottom: 20px
  .error
    border: 2px solid red
  label.error
    border: none
    text-align: center
    font-size: 12px
    color: red
    line-height: 12px
    margin-top: -12px
  label#email-error
    text-align: center
    font-size: 12px
    color: red
    line-height: 12px
    margin-top: -32px

.consultation__form > input
  font-family: sans-serif
  border-radius: 5px
  height: 50px
  padding: 18px 20px

.consultation__form > input:focus
  border: 2px solid #888888

/*                                                                            */
/*                                section ///[carousel]                       */
/*                                                                            */

.carousel
  padding: 5rem 0 0 0
  margin: 0 auto
  .slick-prev, .slick-next
    position: absolute
    top: 50%
    transform: translateY(-50%)
    background-color: $whiteTxt
    cursor: pointer
  .slick-prev
    left: -66px
  .slick-next
    right: -66px
    img
      width: 30px
      height: 50px
.carousel__img-wrapper > img
  margin: 0 auto

/*                                                                            */
/*                                section ///[catalog]                        */
/*                                                                            */

.catalog
  padding: 80px
  &__heading
    font-weight: 700
    font-size: 30px
    text-align: center
    text-transform: uppercase
    color: $blackTxt
  &__tabs
    margin-top: 70px
    display: flex
    justify-content: center
    gap: 12px
    width: 100%
  &__tab
    width: 220px
    height: 50px
    transform: skewX(-25deg)
    border: 2px solid #d0d0d0
    cursor: pointer
    line-height: 48px
    font-weight: 500
    font-size: 18px
    text-align: center
    text-transform: uppercase
    border-radius: 5px
    &:hover
      border: 2px solid #8f8f8f
  &__tab--active
    background-color: $redBg
    border: 0
    &:hover
      border: 0
      background-color: #cd2828
  &__tab--active > p
    transform: skewX(25deg)
    color: $whiteTxt
  &__tab > p
    transform: skewX(25deg)

.catalog__products
  display: flex
  gap: 20px
  flex-wrap: wrap
  margin-top: 60px
  justify-content: center
.product-wrapper
  display: flex
.product-item
  padding: 20px 20px 27px 20px
  width: 300px
  min-height: 440px
  border: 2px solid #E8E8E8
  border-radius: 5px
  &__image
    display: block
    margin: 0 auto
  &__heading
    margin-top: 15px
    text-align: center
    font-size: 16px
    line-height: 1.2
    font-weight: 700
    color: $blackTxt
  &__discr
    margin-top: 1rem
    font-weight: 300
    font-size: 14px
    text-align: center
  &__link
    margin-top: 10px
    display: block
    font-weight: 500
    font-size: 14px
    text-align: center
    color: $redBg
    cursor: pointer
    text-transform: uppercase
    &:hover
      text-decoration-line: underline
      color: $redBg
  &__divider
    margin-top: 17px
    border-top: 1px solid #E8E8E8
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 17px
  &__old-price
    font-weight: 300
    font-size: 14px
    text-decoration-line: line-through
    color: #555555
  &__new-price
    font-weight: 700
    font-size: 20px
    color: $blackTxt
  &__slider
    min-height: 327.4px
  &__list-item
    min-height: 327.4px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
.list-item
  &__back
    font-weight: 500
    font-size: 14px
    text-align: center
    color: $redBg
    text-transform: uppercase
    cursor: pointer
    &:hover
      color: $redBg
      text-decoration-line: underline
  &__list
    padding: 0 0 0 15px
    list-style-type: none
    font-size: 14px
    font-weight: 300
    color: #555555
  &__paragraph
    position: relative
    margin-top: 10px
    &:before
      content: ''
      position: absolute
      top: 8px
      left: -20px
      width: 7px
      height: 7px
      background-color: #cb2d2d

/*                                                                            */
/*                                   section ///[review]                      */
/*                                                                            */
.review
  margin-top: 20px
  &__header
    margin: 0 auto
    text-align: center
    font-size: 30px
    font-weight: 700
    text-transform: uppercase
    color: $blackTxt
  &__item
    display: flex
    align-items: flex-start
    gap: 45px
    padding: 10px
    &:not(:first-child)
      margin-top: 50px
    &:first-child
      margin-top: 70px
    &:not(:last-child)
      padding-bottom: 50px
      border-bottom: 1px solid #f6f6f6
  &__txt
    padding: 0 10px
  &__txt-name
    font-size: 18px
    font-weight: 700
  &__txt-about
    font-size: 14px
    font-weight: 300
    color: #646464
  &__txt-body
    margin-top: 15px
    font-size: 16px
    font-weight: 300
    text-align: justify
    color: $blackTxt

/*                                                                            */
/*                            section ///[contacts]                            */
/*                                                                            */
.contacts
  position: relative
  min-height: 630px
  margin-top: 70px
  &__google-map
    width: 100%
    min-height: 630px
  &__info
    @include abs-center-half
    padding: 50px 64px 60px 64px
    max-width: 460px
    min-height: 270px
    background-color: $redBg
    border-radius: 5px
    text-align: center
    font-size: 20px
    line-height: 20px
    color: $whiteTxt
  &__info-txt
    font-weight: 500
  &__info-tel
    display: block
    font-weight: 700
    margin-top: 36px
    &:hover
      text-decoration: underline
  &__info-icons
    display: flex
    justify-content: center
    gap: 27px
    margin-top: 38px
  &__img
    display: flex
    justify-content: center
    align-items: center
    width: 52px
    height: 52px
    border: 2px solid #ffffff
    border-radius: 50%
  &__ico
    display: block
    width: 24px
    height: 24px
    &:hover
      cursor: pointer

/*                                                                            */
/*                             section ///[modal]                             */
/*                                                                            */
.modal
  &__form-call
    display: none
  &__form-order
    display: none
  &__gratitude
    display: none
  &__overlay
    display: none
    position: fixed
    top: 0
    background-color: rgba(0, 0, 0, 0.65)
    width: 100%
    height: 100%
    z-index: 1
  .error
    border: 1px solid red
.btn-wrp
  width: 100%
  margin-top: 20px

.form
  @include abs-center-full
  padding: 40px 25px 40px
  width: 380px
  min-height: 400px
  background-color: #f2f2f2
  border-radius: 5px
  &__header
    font-size: 19px
    line-height: 19px
    font-weight: 700
    color: $blackTxt
    text-align: center
    margin-bottom: 10px
  &__subheader
    font-size: 14px
    line-height: 14px
    font-weight: 700
    color: $blackTxt
    text-align: center
  &__input-name
    margin-bottom: 25px
  &--gratitude
    min-height: 140px
  &__txt-wrapper
    margin-bottom: 25px
.form > input
  display: block
  margin: 0 auto
  width: 302px
  height: 54px
  border-radius: 5px
  padding: 18px 20px
  margin-bottom: 11px
.form > input:focus
  border: 3px solid #888888
.form > span
  position: absolute
  top: 0
  right: -41px
  display: inline-block
  width: 21px
  height: 21px
  color: $redBg
  font-size: 55px
  font-weight: 300
  line-height: 21px
  text-align: center
  cursor: pointer
button.button.lg-btn.consultation__button
    margin: 0 auto
