/*                                   ///[≥1400px]                             */


/*                                   ///[≥1200px]                             */


/*                                   ///[≥992px]                              */

@media screen and ( max-width: 991px )
  .benefits-wrapper
    gap: 2.6rem

/*                                   ///[≥768px]                              */

@media screen and ( max-width: 767px )
  .header__phones
    justify-items: center
  .benefits-wrapper
    gap: .6rem

  .consultation
    padding: 2rem

  .catalog
    &__tabs
      flex-direction: column
      align-items: center
    &__heading
      text-align: center
    &__products
      flex-direction: column
      flex-wrap: wrap
      align-items: center
  .review
    &__item
      gap: 10px
      &:first-child
        margin-top: 30px

/*                                   ///[≥576px]                              */

@media screen and ( max-width: 576px )
  .header
    display: flex
    flex-direction: column
    gap: 1rem

  .promo-main-section
    justify-content: center
  .promo__txt
    padding: 0 10px
    text-align: center
    font-size: 33px
  .promo__icons
    justify-content: center
    gap: 15px
  .promo__button-wrapper
    align-items: center
  .icon-wrapper
    margin-right: 0

  .benefits-wrapper
    flex-wrap: wrap
  .benefits__txt
    padding: 1rem
  .benefits__img
    margin-bottom: 0

  .consultation
    padding: 3.25rem 0
    &__heading
      font-size: 35px
  .consultation__heading,
  .consultation__txt
    text-align: center
    margin-top: 1rem
  .consultant-form-wrapper
    width: 100%
    display: flex
    justify-content: center
  .consultation__button
    display: block
    margin: 0 auto

  .catalog
    padding: 0

  .review
    &__item
      flex-direction: column
      align-items: center
      text-align: center
    &__txt-body
      text-align: justify
    &:not(:first-child)
      margin-top: 50px
    &:not(:last-child)
      padding-bottom: 0

  .review__item:not(:last-child)
    padding-bottom: 0

  .contacts
    &__info
      padding: 50px 30px 60px 30px

  .form
    max-width: 90%
    padding: 40px 5px 40px
  .form > input
    width: 90%
  .form > span
    right: 10px
    top: 5px
  .btn-wrp .lg-btn
    min-width: 90%
