/*                                                                            */
/*                                   ///[≥1400px]                             */
/*                                                                            */


/*                                                                            */
/*                                   ///[≥1200px]                             */
/*                                                                            */


/*                                                                            */
/*                                   ///[≥992px]                              */
/*                                                                            */

@media screen and ( max-width: 991px )


/*                                                                            */
/*                                   ///[≥768px]                              */
/*                                                                            */

@media screen and ( max-width: 767px )


/*                                                                            */
/*                                   ///[≥576px]                              */
/*                                                                            */

@media screen and ( max-width: 576px )
  .header
    display: flex
    flex-direction: column
    gap: 1rem

  .promo-main-section
    justify-content: center

  .promo__txt
    text-align: center

  .promo__icons
    justify-content: center
    gap: 3px

  .promo__button-wrapper
    align-items: center

  .icon-wrapper
    margin-right: 0
